{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ news.title }} - Talant Mekteb</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
     <header class="header">
      <div class="logo">
       <a href="{% url 'home'%}">
         <img
          class="log"
          src="{% static 'imgs/Талант копия.png'%}"
          style="width: 60px"
          alt=""
        />
       </a>
      </div>
      <nav class="nav" id="nav-menu">
        <a href="#about">О нас</a>
        <a href="#uyrme">Кружки</a>
        <a href="#qyzmetker">Сотрудники</a>
        <a href="{% url 'accreditation'%}">Школа</a>
        <a href="#news">Новости</a>
    </nav>
    
      <div class="burger" onclick="toggleMenu()">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </header>


    <section class="news-detail">
        <div class="news-hero">
            <img src="{{ news.image.url }}" alt="{{ news.title }}" class="news-hero-image">
            <div class="news-hero-content">
                <h1>{{ news.title }}</h1>
                <p class="news-date">{{ news.date|date:"d.m.Y" }}</p>
            </div>
        </div>
        <div class="news-content">
            <div class="news-text">
                <p>{{ news.text }}</p>
                <a href="{% url 'home' %}" class="btn">Главная</a>
            </div>
        </div>
    </section>

    <footer>
      <div class="containerf">
        <div class="footer-left">
          <img
            src="{% static 'imgs/Талант копия.png'%}"
            alt="High School of Saryagash"
            class="logo"
            
          />
          <p>
            Частные школы обучают по государственной программе, предметы и распределение уроков также схожи. Однако благодаря новому формату содержания программы и педагогики они могут предлагать интересные идеи.
          </p>
        </div>
        <div class="footer-center">
          <h3>Контакты</h3>
          <p>
           Город Шымкент, район Аль-Фараби, улица Жангельдина, здание 13
          </p>
          <p>Полный учебный день с 9:00 до 18:00</p>
          <p><a href="tel:+77772528283" class="phone">+7-777-252-8283</a></p>
          <p>
            <a href="mailto:highschool.ofsaryagash.18@mail.ru" class="email"
              >talant-school@mail.ru</a
            >
          </p>
          <div class="social-icons">
            {% for social in social_links %}
            <a href="{{ social.url }}"
              ><img src="{{ social.icon.url }}" alt="{{ social.name }}"
            /></a>
            {% endfor %}
            <a class="btn" href="https://wa.me/87478707743">Написать напрямую в WhatsApp</a>
          </div>
        </div>
        <div class="footer-right">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2950.540106352667!2d69.58194711087846!3d42.309677571077586!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38a91fd162714e83%3A0x75fbbb9a62012d36!2s%E2%84%961%20Talant%20mektep!5e0!3m2!1sru!2skz!4v1741972674462!5m2!1sru!2skz"
            width="600"
            height="450"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
      </div>
    </footer>
    <script>
        function toggleMenu() {
            document.querySelector('.nav').classList.toggle('show');
        }
    </script>
</body>
</html>
